<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart','table']});
    </script>


    <script type="text/javascript">

    $(function () {
$('.button-checkbox').each(function () {

    // Settings
    var $widget = $(this),
        $button = $widget.find('button'),
        $checkbox = $widget.find('input:checkbox'),
        color = $button.data('color'),
        settings = {
            on: {
                icon: 'glyphicon glyphicon-check'
            },
            off: {
                icon: 'glyphicon glyphicon-unchecked'
            }
        };

    // Event Handlers
    $button.on('click', function () {
        $checkbox.prop('checked', !$checkbox.is(':checked'));
        $checkbox.triggerHandler('change');
        updateDisplay();
    });
    $checkbox.on('change', function () {
        updateDisplay();
    });

    // Actions
    function updateDisplay() {
        var isChecked = $checkbox.is(':checked');

        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");

        // Set the button's icon
        $button.find('.state-icon')
            .removeClass()
            .addClass('state-icon ' + settings[$button.data('state')].icon);

        // Update the button's color
        if (isChecked) {
            $button
                .removeClass('btn-default')
                .addClass('btn-' + color + ' active');
        }
        else {
            $button
                .removeClass('btn-' + color + ' active')
                .addClass('btn-default');
        }
    }

    // Initialization
    function init() {

        updateDisplay();

        // Inject the icon if applicable
        if ($button.find('.state-icon').length == 0) {
            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
        }
    }
    init();
});
});





        $(document).ready(function()
        {
            //var data = ["Boston Celtics", "Chicago Bulls", "Miami Heat", "Orlando Magic", "Atlanta Hawks", "Philadelphia Sixers", "New York Knicks", "Indiana Pacers", "Charlotte Bobcats", "Milwaukee Bucks", "Detroit Pistons", "New Jersey Nets", "Toronto Raptors", "Washington Wizards", "Cleveland Cavaliers"];
            $("#companySearch").autocomplete(
              {
                source: function(req, res)
                {
                  console.log("Sending AJAX...");
                    $.ajax({
              url: "/autocomplete",
              dataType: "jsonp",
              type: "GET",
              data: {
                  term: req.term
              },
              success: function (data) {
                //console.log(data);
                  res($.map(data, function (item) {
                      return {
                          label: item.id,
                          value: item.name,
                          data: item
                      };
                  }));
              },
              error: function (xhr) {
                  console.log(xhr.status + ' : ' + xhr.statusText);
              }
          });
                }
              });
        });

       $(document).ready(function()
       {
         $("#searchButton").on("click", function()
           {
             var term = $("#companySearch").val();
             var filters = getAppliedFilters();
             console.log(filters);
             $.ajax({
               url: "/competitors",
               dataType: "jsonp",
               type: "POST",
               data:{term: term, filters: JSON.stringify(filters)},
               success: function(data)
               {
                 //console.log(data);
                 localStorage.setItem("current_search",JSON.stringify(data.company));
                 $("#companyList").tagsinput({
                   tagClass: " btn btn-primary",
                   allowDuplicates: false,
                   itemValue: '_id',  // this will be used to set id of tag
                   itemText: 'Company Name' // this will be used to set text of tag});
                 });

                 data.competitors.forEach(function(datum)
                 {
                   //console.log(data);
                    $("#companyList").tagsinput('add',datum);
                 });

               },
               error: function(err)
               {
                 console.log(err);
               }

             });


           });
       });

       function getAppliedFilters()
       {
         var filters ={};
         $(":input[name='filters']").each(
           function(){
            let label = $(this).attr("id");
            if($(this).is(":checked"))
            {
              filters[label] = true;
            }
            else
            {
              filters[label] = false;
            }

         });
         return filters;
       }

       $(document).ready(function()
       {

         $("#searchTwitter").on("click",function()
         {
            var arr =[];
            //console.log(JSON.parse(startingCompany));
            if($("#companyList"))
            {
              var objs =$("#companyList").tagsinput("items");
              arr = $.map(objs, function(n,i)
              {
                return n;
              });
              arr.push(JSON.parse(localStorage.getItem("current_search")));
              console.log(arr);
              $.ajax
              ({
                url: "/tweets",
                dataType: "jsonp",
                type: "POST",
                data: {arr : JSON.stringify(arr)},
                success: function(data)
                {
                  console.log(data);
                  displayVisualizations(data);

                },
                error: function(err){
                  if(err)
                    console.log(err)
                  else
                    console.log(err.status+" "+err.statusText);
                }
              });
            }
         });
       });

       $(document).ready(function()
       {
         $("#companyList").on("click", ".tag", function()
         {
           console.log("Click!");
         });
       });



function displayVisualizations(data)
{
    data.forEach(function(datum,i)
    {
      //console.log("Hello");
      $panel = $('<div class="panel panel-primary dashboard-item"> <div class="panel-heading"></div><div class="panel-body"></div></div>');
      $(".dashboard").append($panel);
      //console.log(datum.parent);
      $panel.find(".panel-heading").html(datum.parent);
      $body = $panel.find(".panel-body");

      if(datum.countOftweets.length !=0)
       {
         $body.append("<div class=piechart id ='pc"+i+"'></div>");
          var data = google.visualization.arrayToDataTable([
            ["Sentiment","Tweet count"],
            ["Positive", datum.countOftweets[0].positive_count],
            ["Neutral", datum.countOftweets[0].neutral_count],
            ["Negative", datum.countOftweets[0].negative_count]
          ]);
          var chart = new google.visualization.PieChart(document.getElementById("pc"+i));
          var options = {'title':'Tweet distribution by sentiment:',
                     'width':480,
                     'height':400,
                     'chartArea' :{top: 30, left: 30},
                     'colors' :["#16c413","#459ce8","#f24729"]
                   };
          chart.draw(data,options);

          $body.append("<div class=scatterchart id='sc"+i+"'></div>");

          var data = new google.visualization.DataTable();
          data.addColumn('date','Date');
          data.addColumn('number', 'Score');
          data.addColumn({type: 'string', role:'tooltip'});

          datum.score_by_date.forEach(function(obj)
          {
            data.addRow([new Date(obj.created_at), obj.score, obj.tweet]);
          });

          var chart = new google.visualization.ScatterChart(document.getElementById('sc'+i));
          chart.draw(data, {title: 'Score distribution by date',
                      width: 600, height: 400,
                      vAxis: {title: "sentiment score", titleTextStyle: {color: "green"}},
                      hAxis: {title: "time", titleTextStyle: {color: "green"}},
                      lineWidth: 0}
              );

          $body.append("<h5>Top favorited tweets:</h5><div class=favorited id='favorite"+i+"''></div>");
          var data2 = new google.visualization.DataTable();
          data2.addColumn( "string","Tweet");
          data2.addColumn("string", "User");
          data2.addColumn("number", "Sentiment");
          data2.addColumn("number", "Favorite Count");

          var arr = datum.highest_favorited;
          arr.forEach(function(item)
            {
              data2.addRow([item.tweet, item.user, item.score, item.favorite_count])
            });
          var table = new google.visualization.Table(document.getElementById("favorite"+i));
          table.draw(data2, {showRowNumber: false, width: '100%', height: '50%',
                              cssClassNames: {headerRow: "header_row",
                                              tableRow:  "table_row",
                                              oddTableRow: "odd_row"
                                              }
                              });

          $body.append("<h5>Top retweeted tweets:</h5><div class=retweeted id='retweet"+i+"'></div>");
          var data3 = new google.visualization.DataTable();
          data3.addColumn( "string","Tweet");
          data3.addColumn("string", "User");
          data3.addColumn("number", "Sentiment");
          data3.addColumn("number", "Retweet Count");

          var arr = datum.highest_retweeted;
          arr.forEach(function(item)
            {
              data3.addRow([item.tweet, item.user, item.score, item.retweet_count])
            });
          var table = new google.visualization.Table(document.getElementById("retweet"+i));

          table.draw(data3, {showRowNumber: false,
                             width: '100%',
                             height: '50%',
                             alternatingRowStyles:true,
                            cssClassNames: {headerRow: "header_row",
                                            tableRow:  "table_row",
                                            oddTableRow: "odd_row"
                                          }
                          });
        }
        else{$body.html("<h4>No data found</h4>")}

    });
}
    </script>
  </head>

  <body>
    <div class="menu">
      <div class="container-fluid">
       		<div class="navbar-header">
      			<a href="#">SenTwitter</a>
      		</div>
      	</div>
      </div>

    <div class = "jumbotron jumbotron-fluid">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-md-10">
          <h3>Search competitors:</h3>
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" class="form-control input-lg" id="companySearch" placeholder= "Enter Company or Institution..." />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button" id="searchButton">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                  </div>

                  <div class = "row">
                    <div class = "col-md-12">
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">State</button>
                        <input type="checkbox" name="filters" id="state" class="hidden" />
                      </span>
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Revenue</button>
                        <input type="checkbox" name="filters" id="revenue" class="hidden"/>
                      </span>
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Profits</button>
                        <input type="checkbox" name="filters" id="profit" class="hidden" />
                      </span>
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Liabilities</button>
                        <input type="checkbox" name="filters" id="liabilities" class="hidden" />
                      </span>
                      <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Employees</button>
                        <input type="checkbox" name="filters" id="employees" class="hidden" />
                      </span>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <input type="text" class="oppningar" id="companyList" multiple="true" readonly/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-secondary" id="searchTwitter">
              Search for tweets
            </button>
          </div>
        </div>
        <div class = "dashboard"></div>
      </div>
    </div>
  </body>
</html>
